
*

!vulnerable/
!vulnerable/templates/
!fixed/
!fixed/templates/

!.gitignore
!vulnerable/**/*.py
!vulnerable/**/*.html
!vulnerable/**/*.txt
!vulnerable/**/*.md
!fixed/**/*.py
!fixed/**/*.html
!fixed/**/*.txt
!fixed/**/*.md
!smoke_vuln.py
!smoke_fixed.py
!documentatie.tex

__pycache__/
*.pyc
*.pyo
*.db
.venv/
.idea/
.vscode/
.DS_Store
